.info {
  background-image: url(../img//info/info-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.info::before {
  content: '';
  position: absolute;
  height: 126px;
  background-color: #262c27;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-120px);
  z-index: 1;
}

.info__top {
  display: flex;
  gap: 80px;
  padding-top: 100px;
  margin-bottom: 65vh;
}

.info__top-text {
  padding-top: 245px;
  width: 290px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  position: relative;
}

.info__top-text_one {
  padding-bottom: 125px;
}

.info__top-text_two {
  border-bottom: 1px solid #fff;
}

.info__btn {
  bottom: 0;
  right: 0;
}

.info__top-img {
  position: relative;
  z-index: 6;
}

.info__specs {
  display: flex;
  align-items: center;
  gap: 130px;
  color: #fff;
  padding-bottom: 50px;
}

.info__specs-title {
  text-transform: uppercase;
  font-family: Comfortaa, cursive;
  font-size: 60px;
  line-height: 67px;
  width: 250px;
}

.info__specs-list {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 30px 0;
  width: 565px;
  font-weight: 700;
}

.info__specs-item {
  margin-bottom: 15px;
  font-size: 18px;
  display: flex;
  gap: 25px;
}

.info__specs-item:last-child {
  margin-bottom: 0;
}

.info__specs-caption {
  width: 192px;
}
